:root {
--limegreen: hsl(163, 72%, 41%);
--bgblue: hsl(210, 78%, 56%);
--brightred: hsl(356, 69%, 56%);
--facebook: hsl(208, 92%, 53%);
--twitter: hsl(203, 89%, 53%);
--instagram-start:  hsl(37, 97%, 70%);
--instagram-mid:  hsl(5, 77%, 71%);
--instagram-end: hsl(329, 70%, 58%);
--youtube: hsl(348, 97%, 39%);

--verydblue: hsl(230, 17%, 14%);
--desatdbblue: hsl(228, 28%, 20%);
--desatblue: hsl(228, 38%, 66%);
--white: hsl(0, 0%, 100%);

--paleblue: hsl(225, 100%, 98%);
--lgrayishblue: hsl(227, 47%, 96%);
--dgrayishblue: hsl(228, 12%, 44%);
--verydblue2: hsl(230, 17%, 14%);
}



